<ion-card>
  <ion-card-header>
    <ion-card-title>{{department}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input placeholder="Enter your name" [(ngModel)]="label" (keyup.enter)="handleKey()"></ion-input>
      <ion-button (click)="handleKey()">Volunteer!</ion-button>
    </ion-item>
    <ion-item *ngFor="let volunteer of data">
      <ion-label>{{volunteer.label}} ({{ calculate( volunteer.num )}})</ion-label>
<!--     <ion-label>{{volunteer.label}} ({{ volunteer.num | calculate}})</ion-label>-->
      <ion-icon slot="end" name="delete"></ion-icon>
<!--      <ion-icon slot="end" name="trash" (click)="remove.emit(volunteer)"></ion-icon>-->
    </ion-item>
  </ion-card-content>
</ion-card>
